body {
  margin: 0px;
  padding: 0px;
  background-image: url("../images/sunset.jpg"); }

p {
  color: #fff;
  padding: 0px; }

.notification, .notification-error, .notification-warning {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #000;
  line-height: 2.5;
  font-size: 20px;
  letter-spacing: 2px; }

.notification-error {
  background-color: rgba(255, 51, 51, 0.75);
  font-size: 20px;
  color: #fff; }

.notification-warning {
  background-color: yellow; }

.icon-alarm {
  width: 35px;
  height: 35px;
  background-image: url("../images/alarm.png");
  background-size: 35px; }

.icon-chat {
  width: 35px;
  height: 35px;
  background-image: url("../images/chat.png");
  background-size: 35px; }

.icon-folder {
  width: 35px;
  height: 35px;
  background-image: url("../images/folder.png");
  background-size: 35px; }
